{% extends "inventory/base.html" %}
{% load static %}

{% block title %}{{ customer.company_name }}{% endblock %}

{% block content %}
<div class="card mt-4">
    <div class="card-header bg-success text-white">
        <h3>{{ customer.company_name }}</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Address</dt>
            <dd class="col-sm-9">{{ customer.address|linebreaks }}</dd>
            
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">{{ customer.email }}</dd>
            
            <dt class="col-sm-3">Phone</dt>
            <dd class="col-sm-9">{{ customer.phone }}</dd>
            
            {% if customer.fax %}
            <dt class="col-sm-3">Fax</dt>
            <dd class="col-sm-9">{{ customer.fax }}</dd>
            {% endif %}
        </dl>
        
        <div class="d-flex justify-content-end gap-2 mt-4">
            <a href="{% url 'customer-update' customer.pk %}" class="btn btn-primary">
                Edit Customer
            </a>
            <a href="{% url 'customer-delete' customer.pk %}" class="btn btn-danger">
                Delete Customer
            </a>
            <a href="{% url 'customer-list' %}" class="btn btn-secondary">
                Back to List
            </a>
        </div>
    </div>
</div>
{% endblock %}