body {
  padding-top: 0px;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.multiselect-dropdown {
  width: 100%;
}

/* Custom green theme */
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.bg-success {
  background-color: #28a745 !important;
}

/* Dark mode toggle button */
#darkModeToggle {
  transition: all 0.3s;
}

.dropdown-item.active {
  background-color: #198754; /* Your green theme color */
  color: white;
}

.dropdown-item.active:hover {
  background-color: #157347;
  color: white;
}